@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

html,
body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 20px;
  height: calc(100% - 40px);
}

#root {
  height: 100%;
  overflow: scroll;
}
