<!doctype html>
<html lang="en">
  <head>
    <title>Tocco</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport" />
    <script src="/static/node_modules/babel-polyfill/dist/polyfill.js"></script>
    <script src="/static/node_modules/react/umd/react.development.js"></script>
    <script src="/static/node_modules/react-dom/umd/react-dom.development.js"></script>
    <script src="/static/node_modules/whatwg-fetch/fetch.js"></script>
    <link href="/dynamic/styles.css" rel="stylesheet" />
    <%= niceFile %>
  </head>
  <body style="margin: 0">
    <div id="root"></div>
  </body>
</html>
