<!doctype html>
<html lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="/static/node_modules/babel-polyfill/dist/polyfill.js"></script>
    <script src="/static/node_modules/react/umd/react.development.js"></script>
    <script src="/static/node_modules/react-dom/umd/react-dom.development.js"></script>
    <script src="/static/node_modules/whatwg-fetch/fetch.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <title>Widget | Legacy CMS</title>

    <link href="/legacy/tocco-standard.css" rel="stylesheet" type="text/css" />

    <script src="/legacy/tocco-client-theme.js"></script>

    <style>
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:300,500|Ubuntu:300,500&display=swap);
    </style>
    <%= niceFile %>
  </head>
  <body tabindex="-1">
    <header>
      <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle pull-left"
              data-toggle="offcanvas"
              data-target="#navbar-offcanvas"
              data-placement="left"
              data-action="push"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://www.tocco.ch"
              ><img class="tocco-circle-logo" src="/legacy/tocco-circle-red.png" />Tocco</a
            >
          </div>

          <div class="offcanvas off left navbar-right" id="navbar-offcanvas">
            <ul class="nav navbar-nav">
              <li>
                <a href="#" class="">Startseite</a>
              </li>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu 1</a>
              </li>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu 2</a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </header>
    <div class="container">
      <div class="row hidden-xs">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li>
              <a href="#">Startseite</a>
            </li>
            <li>
              <a href="#">Widget</a>
            </li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="section-3979" class="container-section" style="display: block">
            <div id="root"></div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12"></div>
        </div>

        <div class="row copyright">
          <div class="col-xs-12">
            <ul class="nav nav-pills">
              <li class="navbar-text">
                ©
                <script>
                  var dteNow = new Date()
                  var intYear = dteNow.getFullYear()
                  document.write(intYear)
                </script>
              </li>

              <li><a href="#" title="Startseite">Startseite</a></li>

              <li>
                <a href="#">Menu 1</a>
              </li>

              <li>
                <a href="#">Menu 2</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
