<!doctype html>
<html lang="de-CH">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

    <title>Widget | WordPress</title>

    <link rel="stylesheet" href="/wp/wk-styles.css" />
    <link rel="stylesheet" href="/wp/styles.css" />

    <script src="/static/node_modules/babel-polyfill/dist/polyfill.js"></script>
    <script src="/static/node_modules/react/umd/react.development.js"></script>
    <script src="/static/node_modules/react-dom/umd/react-dom.development.js"></script>
    <script src="/static/node_modules/whatwg-fetch/fetch.js"></script>
    <script>
      window.toccoTheme = {
        name: 'wk-widget',
        colors: {
          primary: '#0057ad',
          backgroundPanelHeaderFooter: '#ededed'
        },
        radii: {
          button: '16px',
          buttonLarge: '24px',
          form: '8px',
          dashboard: 0,
          modal: '8px',
          menu: '16px'
        }
      }
    </script>
    <%= niceFile %>
  </head>
  <body
    class="page page-id-2155 page-child parent-pageid-1016 wp-embed-responsive no-js form-styling-active"
    tabindex="-1"
    style="--scrollbarWidth: 0px"
  >
    <div class="page-wrapper js-page">
      <header class="header">
        <div class="header-logo-wrapper container pt-16 py-lg-32">
          <a class="header-logo" href="https://www.tocco.ch/" aria-label="Tocco AG">
            <img
              class="header-logo__image header-logo__image--mobile"
              src="/wp/tocco-mobile-red.svg"
              alt="Logo Tocco AG"
            />
            <img class="header-logo__image header-logo__image--desktop" src="/wp/tocco-red.svg" alt="Logo Tocco AG" />
            <span class="visually-hidden">Tocco AG</span>
          </a>
          <button
            class="hamburger hamburger--squeeze js-menu-toggle"
            role="button"
            type="button"
            id="js-menu-toggle"
            aria-expanded="false"
            aria-controls="navigation-overlay"
          >
            <span class="visually-hidden">Menü anzeigen/verstecken</span>
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
          <div class="meta-navigation pt-8 language-picker">
            <nav class="meta-navigation__nav" role="navigation">
              <ul class="meta-navigation__list">
                <li
                  class="meta-navigation__item menu-item menu-item-type-post_type menu-item-object-page menu-item-230"
                >
                  <a class="meta-navigation__link" href="" target="_self">News</a>
                </li>
                <li
                  class="meta-navigation__item menu-item menu-item-type-post_type menu-item-object-page menu-item-231"
                >
                  <a class="meta-navigation__link" href="" target="_self">Kontakt</a>
                </li>
                <li class="meta-navigation__item meta-navigation__item--login">
                  <a class="meta-navigation__link" href="">Login</a>
                </li>
              </ul>
            </nav>
            <nav class="language-switcher">
              <div
                class="wpml-ls-statics-shortcode_actions wpml-ls wpml-ls-legacy-dropdown-click js-wpml-ls-legacy-dropdown-click"
              >
                <ul>
                  <li
                    class="wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-de wpml-ls-current-language wpml-ls-first-item wpml-ls-item-legacy-dropdown-click"
                  >
                    <a href="#" class="js-wpml-ls-item-toggle wpml-ls-item-toggle">
                      <span class="wpml-ls-native">DE</span></a
                    >
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <div class="header-navigation-wrapper" aria-hidden="true">
          <div class="container">
            <div
              class="navigation-overlay"
              id="navigation-overlay"
              role="dialog"
              data-scroll-lock-scrollable=""
              data-scroll-lock-fill-gap=""
            >
              <button
                class="hamburger hamburger--spin js-menu-toggle navigation-overlay__closing-icon"
                role="button"
                type="button"
                aria-expanded="false"
                aria-controls="navigation-overlay"
              >
                <span class="visually-hidden">Menü schliessen</span>
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
              <div class="main-navigation-wrapper" id="main-navigation-wrapper">
                <nav
                  id="main-navigation"
                  class="main-navigation js-navigation"
                  role="navigation"
                  aria-label="Primärnavigation"
                  itemscope=""
                  itemtype="http://schema.org/SiteNavigationElement"
                >
                  <ul class="main-navigation__list">
                    <li
                      class="main-navigation__item menu-item menu-item-type-post_type menu-item-object-page menu-item-39 menu-item-has-children has-children main-navigation__item--1st-level"
                      aria-expanded="false"
                    >
                      <span class="main-navigation__item-wrap">
                        <a href="" target="_self" class="main-navigation__link main-navigation__link--1st-level">
                          Weiterbildungskurse
                        </a></span
                      >
                    </li>
                    <li
                      class="main-navigation__item menu-item menu-item-type-post_type menu-item-object-page menu-item-770 menu-item-has-children has-children main-navigation__item--1st-level"
                      aria-expanded="false"
                    >
                      <span class="main-navigation__item-wrap">
                        <a href="" target="_self" class="main-navigation__link main-navigation__link--1st-level">
                          Vorlagen
                        </a>
                      </span>
                    </li>
                    <li
                      class="main-navigation__item menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-1019 menu-item-has-children has-children main-navigation__item--1st-level"
                      aria-expanded="false"
                    >
                      <span class="main-navigation__item-wrap">
                        <a href="" target="_self" class="main-navigation__link main-navigation__link--1st-level">
                          Public-Widgets
                        </a>
                      </span>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="navigation-overlay__overlay" data-a11y-dialog-hide=""></div>
          </div>
        </div>
      </header>

      <main class="content-wrapper mt-md-48 mt-32">
        <div class="breadcrumbs pt-16 pb-12 pt-md-24 pb-md-16 pb-lg-24 mb-24">
          <div class="container">
            <span
              ><span><a href="#">Home</a></span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="breadcrumb-separator"
                width="6"
                height="10"
                viewBox="0 0 6 10"
                fill="currentColor"
              >
                <path
                  d="M.479,.479C.772,.187,1.246,.187,1.539,.479l4,4c.292,.293,.292,.767,0,1.06L1.539,9.539c-.303,.282-.778,.266-1.06-.037-.268-.288-.268-.735,0-1.023l3.47-3.47L.479,1.539C.187,1.246,.187,.772,.479,.479Z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <span class="breadcrumb_last" aria-current="page">Widget</span></span
            >
          </div>
        </div>

        <div class="container container--wide">
          <div class="alignwide">
            <div id="root"></div>
          </div>
        </div>
      </main>
      <footer class="footer py-32 pt-md-64 pb-md-48">
        <div class="container">
          <div class="row">
            <div class="footer__column col-12 col-sm-6 col-xl-3 mb-32">
              <h3 class="footer__column-title">Adresse</h3>
              <div class="footer__column-content">
                <p>
                  Tocco AG<br />
                  Riedtlistrasse 27<br />
                  8006 Zürich
                </p>
              </div>
            </div>
            <div class="footer__column col-12 col-sm-6 col-xl-3 mb-32">
              <h3 class="footer__column-title">Kontakt</h3>
              <div class="footer__column-content">
                <p>
                  <a href="tel:+41443886000">044 388 60 00</a><br />
                  <a href="mailto:info@tocco.ch">info@tocco.ch</a>
                </p>
              </div>
            </div>
            <div class="footer__column col-12 col-sm-6 col-xl-3 mb-32">
              <h3 class="footer__column-title">Service</h3>
              <div class="footer__column-content">
                <p>
                  <a href="/">Datenschutz</a><br />
                  <a href="/">Impressum</a><br />
                  <a href="/">AGB</a>
                </p>
              </div>
            </div>
            <div class="footer__column col-12 col-sm-6 col-xl-3">
              <h3 class="footer__column-title">Social Media</h3>
              <div class="social-icons d-flex flex-wrap justify-content-start gap-16"></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
