:root {
  --wk-color-footer: #000000;
  --wk-color-footer-text: #ffffff;
  --wk-color-accent-primary: #0057ad;
  --wk-color-accent-primary-text: #ffffff;
  --wk-color-accent-secondary: #ecf5fe;
  --wk-color-accent-secondary-text: #000000;
}

:root {
  --wk-body-font-family: Roboto, sans-serif;
  --wk-body-font-size: 16px;
  --wk-body-font-weight: 400;
  --wk-body-line-height: 1.5;
  --wk-body-letter-spacing: 0;
  --wk-body-bold-font-family: Roboto, sans-serif;
  --wk-body-bold-font-size: 16px;
  --wk-body-bold-font-weight: 700;
  --wk-body-bold-line-height: 1.5;
  --wk-body-bold-letter-spacing: 0;
  --wk-lead-font-family: Roboto, sans-serif;
  --wk-lead-font-size: 20px;
  --wk-lead-font-weight: 500;
  --wk-lead-line-height: 1.5;
  --wk-lead-letter-spacing: 0;
  --wk-button-font-family: Roboto, sans-serif;
  --wk-button-font-size: 16px;
  --wk-button-font-weight: 700;
  --wk-button-line-height: 1.5;
  --wk-button-letter-spacing: 0;
  --wk-h1-font-family: Roboto, sans-serif;
  --wk-h1-font-size: 49px;
  --wk-h1-font-weight: 700;
  --wk-h1-line-height: 1.204;
  --wk-h1-letter-spacing: 0;
  --wk-h2-font-family: Roboto, sans-serif;
  --wk-h2-font-size: 31px;
  --wk-h2-font-weight: 700;
  --wk-h2-line-height: 1.2;
  --wk-h2-letter-spacing: 0;
  --wk-h3-font-family: Roboto, sans-serif;
  --wk-h3-font-size: 20px;
  --wk-h3-font-weight: 700;
  --wk-h3-line-height: 1.2;
  --wk-h3-letter-spacing: 0;
  --wk-h4-font-family: Roboto, sans-serif;
  --wk-h4-font-size: 16px;
  --wk-h4-font-weight: 700;
  --wk-h4-line-height: 1.2;
  --wk-h4-letter-spacing: 0;
  --wk-h5-font-family: Roboto, sans-serif;
  --wk-h5-font-size: 14px;
  --wk-h5-font-weight: 700;
  --wk-h5-line-height: 1.2;
  --wk-h5-letter-spacing: 0;
  --wk-h6-font-family: Roboto, sans-serif;
  --wk-h6-font-size: 12px;
  --wk-h6-font-weight: 700;
  --wk-h6-line-height: 1.2;
  --wk-h6-letter-spacing: 0;
}
@media (max-width: 767px) {
  :root {
    --wk-body-font-size: 16px;
    --wk-body-bold-font-size: 16px;
    --wk-lead-font-size: 20px;
    --wk-button-font-size: 16px;
    --wk-h1-font-size: 31px;
    --wk-h2-font-size: 25px;
    --wk-h3-font-size: 20px;
    --wk-h4-font-size: 16px;
    --wk-h5-font-size: 14px;
    --wk-h6-font-size: 12px;
  }
}
